<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h5 class="sidebar-heading">Wiki</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new_page' %}">
                                Create New Page
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'random_page' %}">
                                Random Page
                            </a>
                        </li>
                    </ul>

                    <form action="{% url 'search' %}" method="get" class="mt-4">
                        <input type="text" name="q" class="form-control" placeholder="Search Wiki...">
                    </form>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
